[Desktop Entry]
Name=Lrs-drones
GenericName=Terminal entering Lrs-drones
Comment=Terminal entering Lrs-drones
Categories=Distrobox;System;Utility
Exec=/home/deck/.local/bin/distrobox enter  lrs-drones
Icon=/home/deck/.local/share/icons/distrobox/ubuntu.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec=/home/deck/.local/bin/distrobox
Type=Application
Actions=Remove;

[Desktop Action Remove]
Name=Remove Lrs-drones from system
Exec=/home/deck/.local/bin/distrobox rm  lrs-drones
